<div class="row-fluid" ng-controller="SessionsController" ng-form="loginForm">
  <div class="row-fluid">
    <h1>Sign in/up with your email</h1>
    <input type="email" placeholder="Your email" ng-model="email" required>
  </div>
  <div class="row-fluid">
    <a href="#" eat-click class='btn btn-primary' ng-click="logIn()" ng-disabled="loginForm.$invalid">Let me in</a>
  </div>
</div>