<div class="row-fluid" ng-controller="TodoItemsController" >
  <div class="todo" ng-repeat="todo in todos">
    <a href="#" eat-click ng-click="moveUp(todo)"><i class="icon-sort-up"></i></a>
    {{todo.title}}
    <a href="#" eat-click ng-click="moveDown(todo)"><i class="icon-sort-down"></i></a>
  </div>
  <div class="new_todo">
    <form>
      <input type="text" ng-model="newTodoTitle">
      <button type="submit" class="btn btn-primary" ng-click="addTodo()">Add</button>
    </form>
  </div>
</div>