<%= link_to "Cellrox", root_path, :class => 'brand' %>

<% if current_user.nil? %>
  <%= link_to "Sign in", root_path %>
<% else %>
  <!-- <a href="#" eat-click ng-click="logOut()">Log out</a> -->
<%end%>